//colors scheme
//grupo 1
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;
//grupo 2
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
//grupo 3
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #707070;
//Tipografia
$playfair:'Playfair Display',
serif;
$roboto:'Roboto',
sans-serif;
//font weight
$light: 300;
$regular: 400;
$bold: 600;
//font sizes
$large-xx: 10vh;
$large-x: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
//links color scheme
$link-uno: #ECBCBA;
$link-dos: #222323;
$link-tres: #D1D1D1;
$link-cuatro: #121619;