.article__text-link {
    color: $spanish-pink;

    &:hover {
        color: $eerie-black;
        text-decoration: none;

    }

    &:focus {
        color: $platinum;
        text-decoration: none;
    }
}