.container_navigation {
    background-color: $eerie-black;
}

.nav-item-blog {
    padding-top: 8px;
}

.nav-link-color {
    text-decoration: none;
    color: $spanish-pink;
}

.navbar-image {
    width: 79px;
}

.nav-link {
    font-family: $roboto, $regular;
}